/* GENERAL */
*{
	font-family: 'Open Sans', sans-serif;
}
body{
	background: url('../img/background.jpg') no-repeat center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	min-height: 500px;
}
.m-t{
	margin-top: 12px;
}
.m-b{
	margin-bottom: 12px;
}
.container-fluid{
	padding: 0;
}

/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* TOP */
.logo-container{
	text-align: center;
	position: relative;
}
.logo{
	width: 100%;
	max-width: 240px;
}

/* PLAYER */
.player{
	margin-top: 60px;
	text-align: center;
}
.main-player-btn{
	max-width: 72px;
	width: 100%;
}
.player-txt{
	color: #fff;
	margin-top: 12px;
}

/* MESSENGER */
.messenger{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #004b8e;
	height: 60px;
}
.message-btn{
	color: #fff;
	background: #009ddc;
	position: relative;
	height: 60px;
	margin-top: -30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.message-btn p{
	padding: 18px 0 18px 24px;
}
.message-btn span{
	background: #1fa9e0;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	height: 60px;
	width: 60px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
}
.message-btn span img{
	padding: 15px;
	width: 100%;
}

/* POPUP PLAYER */
.pop-overlay{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.channel-img{
	max-width: 36px;
	margin-right: 6px;
}
.pop-container-inner{
	background: #fff;
	border: 3px solid #009ddc;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	float: left;
	width: 100%;
	margin-top: 24px;
}
.play-item{
	border-top: 1px solid #0397d6;
	padding: 6px;
	float: left;
	width: 100%;
	font-size: 12px;
}
.play-item .pull-left{
	padding: 6px;
}
.player-btn{
	width: 36px;
}
.first{ border-top: 0; }

/* INFO */
.info-pop{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0%;
	background: #fff;
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.info-pop.active{
	top: 0;
	height: 100%;
}
.close-bar{
	float: left;
	width: 100%;
	background: #004b8e;
}
.close-bar a{
	color: #fff;
}
.info-content{
	float: left;
    width: 100%;
    padding: 24px;
    color: #696969;
}
.info-close{
	padding: 3px 12px 3px 6px;
	float: right;
}
.play-data-name,
.play-data-presenter,
.play-data-song{
	color: #004b8e;
	white-space: pre-wrap;
	margin: 0;
}

/* MESSENGER */
.messenger-pop{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0%;
	background: #fff;
	/*border-top: 4px solid #004B8E;*/
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.messenger-pop.active{
	top: 30%;
	height: 70%;
}
.messenger-pop input{
	float: left;
	width: 100%;
	padding: 12px;
	border: none;
	border-bottom: 1px solid #dedede;
	outline: none;
}
.messenger-pop textarea{
	float: left;
	width: 100%;
	height: 400px;
	padding: 12px;
	border: none;
	outline: none;
}
#message-submit{
	-webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    border: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 48px;
    left: 0;
    text-align: center;
    color: #fff;
    background: #004B8E;
}

